body {
    transition: opacity 0.3s cubic-bezier(.17,.67,.33,.92);
}

.container-grid {
    display: grid;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    transition: 1.4s cubic-bezier(.17,.67,.33,.92);
    opacity: 0;
}

.container-grid2 {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 30px
}

.loadingholder {
    position: absolute;
    display: grid;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    transition: 1.3s cubic-bezier(.17,.67,.33,.92);
    opacity: 1;
    transform: scale(0)rotate(0deg);
}

.LoadingText {
    transition: 0.8s;
}

.youtubelink {
    color: #fff;
    font-size: 15px;
    opacity: 0;
    transition: 0.8s;
}

.Title {
    color: #fff;
    font-size: 15px;
    opacity: 0;
    transition: 0.8s;
}

.ButtonContainer {
    display: grid;
    justify-items: center;
    padding: 6px;
    border-radius: 15px;
    gap: 3px;
    background: #151515;
    width: 12rem;
    overflow: hidden;
    transition: 1.4s cubic-bezier(.17,.67,.33,.92)
}

.BoxPlaces {
    background: #222222;
    display: grid;
    justify-items: center;
    padding: 10px;
    border-radius: 25px
}

.blurbg {
    display: grid;
    justify-items: center;
    padding: 15px;
    border-radius: 25px;
    -webkit-box-shadow: -9px 9px 11px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: -9px 9px 11px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 11px 13px rgba(0,0,0,0.2);
}

.Button {
    background: var(--buttoncolor);
    color: #fff;
    text-decoration: none;
    border: none;
    font-size: 23;
    padding: 9px;
    transition: 0.9s;
    border-radius: 10px;
}

.Button:hover {
    background: var(--buttoncolor);
    font-size: 28
}

body {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    overflow: hidden;
    background: rgba(170,0,0,1)
}

a {
    color: #fff;
    font-weight: bold;
    display: grid;
    justify-content: center;
}